---
import GoHome from "../components/GoHome.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="whoops!">
  <div class="flex flex-col items-center justify-center">
    <p>This shit don't exist, yo!</p>
    <GoHome />
  </div>
</BaseLayout>
