---
import BaseLayout from "../layouts/BaseLayout.astro";
import Character from "../components/CharacterCard.astro";
---

<BaseLayout title="Choose your Character">
  <div class="flex gap-4 justify-center flex-wrap p-4">
    <Character character="knight" />
    <Character character="thug" />
    <Character character="teddy" />
    <Character character="warewolf" />
  </div>
</BaseLayout>
