<a href="/" class="text-lg">&larr; go home</a>
<div class="flex justify-center">
  <div>
    <img
      src="knight.jpeg"
      alt="man dressed up as a knight"
      width="500"
      transition:name="knight"
    />
    <h2 class="text-4xl">You have chosen wisely...</h2>
  </div>
</div>
