---
import { getCollection, getEntry } from "astro:content";
let newsletter = await getCollection("newsletter");
let { data }: { data: { title: string; brand: string; price: number }[] } =
  await getEntry("just-in", "just-in");
console.log(data);
---

<div>
  {data.map((data) => <pre>{JSON.stringify(data, null, 2)}</pre>)}
</div>
