<a href="/" class="text-lg">&larr; go home</a>
<div class="flex justify-center">
  <div>
    <img
      src="thug.jpeg"
      alt="man dressed up as a thug"
      width="500"
      transition:name="thug"
    />
    <h2 class="text-4xl">You have chosen wisely...</h2>
  </div>
</div>
