---
import BaseLayout from "../layouts/BaseLayout.astro";
let characterName = Astro.url.pathname.slice(1);
---

<BaseLayout title={characterName}>
  <div class="flex flex-col items-center justify-center">
    <div>
      <img
        src={`${characterName}.jpeg`}
        alt={`Someone dressed up as a ${characterName}`}
        width="500"
        transition:name={`${characterName}`}
      />
      <h2 class="text-4xl">You have chosen wisely...</h2>
    </div>
    <a href="/" class="text-lg" class="flex flex-col items-center"
      >&larr; go home</a
    >
  </div>
</BaseLayout>
