---
import { ViewTransitions } from "astro:transitions";
import "@fontsource-variable/unbounded";
import "@fontsource-variable/noto-serif-display";
import "@fontsource-variable/red-hat-mono";
import "@fontsource-variable/texturina";
import NavBar from "../components/NavBar.astro";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
  </head>
  <body>
    <NavBar />
    <h1 class="text-center text-6xl p-2 unbounded">{title}</h1>
    <slot />
    <!-- your content is injected here -->
    <style>
      .unbounded {
        font-family: "Unbounded Variable", sans-serif;
      }
    </style>
  </body>
</html>
